html {
    body {
        font-family: sans-serif;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }
}

a:hover {
    text-decoration: underline;
    color: #2064e8
}

a:visited{
    text-decoration: none;
    color: black
}
